@charset "utf-8";

:root {
  --highlight1: #6495ED; /* corn flower blue */
  --highlight2: #FF8C00; /* dark orange */
  --highlight3: #9932CC; /* dark orchid */
  --highlight4: #FF1493; /* deep pink */
  --highlight_férié: #FF0000; /* red */
}


h1 {
  text-align: center;
}

/* -- Legend ------------------------------------------- */

div.legend {
  padding-top: 20px;
  padding-bottom: 20px;
}

table.legend {
  padding-left: 40px;
  border-collapse: separate;
  border-spacing: 10px 5px;
}

.legend_flore_highlight {
  padding-left: 20px;
  background-color: var(--highlight1);
}

.legend_océane_highlight {
    padding-left: 20px;
    background-color: var(--highlight2);
}

.legend_benoist_highlight {
  padding-left: 20px;
  background-color: var(--highlight3);
}

.legend_lydie_highlight {
  padding-left: 20px;
  background-color: var(--highlight4);
}

.legend_user_string {
  padding-right: 30px;
}


/* Show borders -- debug */
/*
table, th, td {
   border: 1px solid black;
}
*/


/* -- Holiday highlights ------------------------------- */

table.calendar {
  font-family: arial;
}

table.month_calendar {
  padding: 0px 0px 0px 0px;
  font-family: arial;
}

td.month {
  vertical-align: top;
  text-align: center;
}

.month_calendar td {
  font-size: 10px;
}

td .user {
    /*padding: 10px 10px 10px 10px;*/
    width: 10px;
}

tr .weekend {
    background-color: #A9A9A9;
}

td .férié {
    background-color: var(--highlight_férié);
}

.flore_highlight {
    background-color: var(--highlight1);
}

.océane_highlight {
    background-color: var(--highlight2);
}

.benoist_highlight {
    background-color: var(--highlight3);
}

.lydie_highlight {
    background-color: var(--highlight4);
}
