@charset "utf-8";

:root {
  --highlight1: #6495ED; /* corn flower blue */
  --highlight2: #FF8C00; /* dark orange */
  --highlight3: #9932CC; /* dark orchid */
  --highlight4: #228B22; /* forest green */
  --highlight_férié: #FF0000; /* red */
}

footer {
  padding-top: 20px;
  font-size: 14pt;
  font-family: arial;
}

h1 {
  text-align: center;
}

div.comments {
  padding-top: 30px;
}


/* Show borders -- debug */
/*
table, th, td {
   border: 1px solid black;
}
*/

/* -- Legend ------------------------------------------- */

div.legend {
  padding-top: 20px;
  padding-bottom: 20px;
}

table.legend {
  padding-left: 40px;
  border-collapse: separate;
  border-spacing: 10px 5px;
}

.legend_vacances_scolaires_highlight {
  padding-left: 20px;
  background-color: #6495ED;
}

.legend_férié_highlight {
  background-color: #FF0000;
}


.legend_user_string {
  padding-right: 30px;
}


/* -- Holiday highlights ------------------------------- */

table.calendar {
  font-family: arial;
}

table.month_calendar {
  padding: 0px 0px 0px 0px;
  font-family: arial;
}

td.month {
  vertical-align: top;
  text-align: center;
}

.month_calendar td {
  font-size: 10px;
}

td .user {
  /*padding: 10px 10px 10px 10px;*/
  width: 10px;

}
td .care {
  width: 10px;
}


tr .weekend {
  background-color: #A9A9A9;
}

td .férié {
  background-color: #FF0000;
}

.vacances_scolaires_highlight {
  background-color: #6495ED;
}
