
:root {
  --highlight1: #6495ED; /* corn flower blue */
  --highlight2: #FF8C00; /* dark orange */
  --highlight3: #9932CC; /* dark orchid */
}


/* -- Legend ------------------------------------------- */


div.legend {
    padding-top: 20px;
    padding-bottom: 20px;
}

table.legend {
    border-collapse: separate;
    border-spacing: 10px 5px;
}

.legend_john_highlight {
    padding-left: 20px;
    background-color: var(--highlight1);
}

.legend_paul_highlight {
    padding-left: 20px;
    background-color: var(--highlight2);
}

.legend_bert_highlight {
    padding-left: 20px;
    background-color: var(--highlight3);
}


/* Show borders -- debug */
/*
table, th, td {
   border: 1px solid black;
}
*/


/* -- Holiday highlights ------------------------------- */

table.month_calendar {
    padding: 0px 0px 0px 0px;
}

td .user {
    padding: 10px 10px 10px 10px;
}

.weekend {
    background-color: var()
}

.john_highlight {
    background-color: var(--highlight1);
}


.bert_highlight {
    background-color: var(--highlight2);
}

.paul_highlight {
    background-color: var(--highlight3);
}
