{% extends "base.html" %}
{% block title %}Calendrier {{calendar.year}}{% endblock %}
{% block content %}
    <h1>Calendrier des vacances {{calendar.year}}</h1>
    <div class="legend">
        <table class="legend">
            <tr>
            {%- for user in calendar.holidays.users %}
            <td class="legend_{{'_'.join(user.split())}}_highlight"></td>
            <td class="legend_user_string">{{ user.capitalize().encode('ascii', 'xmlcharrefreplace').decode('ascii') }}</td>
            {%- endfor %}
            </tr>

            <tr>
            <td class="legend_férié_highlight"></td>
            <td class="legend_user_string">Férié</td>
            </tr>

        </table>
    </div>
    <div id="calendar">
        <table class="calendar">
            <tbody>
            <tr>
                {% for month in range(1, 13) %}
                <td valign="top" align="center">
                    {% include 'month_template.html' %}</td>
                {% endfor %}
            </tr>
            </tbody>
        </table>
    </div>
    <footer>
        <p><a href="calendrier_vacances.pdf">Télécharger au format pdf</a></p>
    </footer>
{% endblock %}