{% extends "base.html" %}
{% block title %}The title{% endblock %}
{% block content %}
    <h1>Hey</h1>
    <p> I'm happy </p>
    <div class="legend">
        <table class="legend">
            {%- for user in calendar.holidays.users %}
            <tr><td class="legend_{{user}}_highlight"></td>
                <td>{{ user.capitalize().encode('ascii', 'xmlcharrefreplace').decode('ascii') }}</td>
            </tr>
            {%- endfor %}
        </table>
    </div>
    <div id="calendar">
        <table>
            <tr>
                {% for month in range(1, 13) %}
                <td valign="top" align="center">
                    {% include 'month_template.html' %}</td>
                {% endfor %}
            </tr>
        </table>
    </div>
{% endblock %}